footer {
    margin-top: 5em;
    padding-bottom: 5em;
    background-image: url("data:image/svg+xml,%3Csvg width='2550' height='1200' xmlns='http://www.w3.org/2000/svg'%3E%3Cdefs%3E%3Cfilter id='filter0_40_580' x='0' y='0' width='2550' height='1200' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeGaussianBlur result='gaussian-blur-1' in='none' stdDeviation='40'%3E%3C/feGaussianBlur%3E%3CfeGaussianBlur stdDeviation='40' result='gaussian-blur-0' in='SourceGraphic'%3E%3C/feGaussianBlur%3E%3C/filter%3E%3ClinearGradient id='paint0_linear_42_581' x1='-0.17581' y1='0.30502' x2='0.97435' y2='-0.09245'%3E%3Cstop stop-color='%23364ABC'%3E%3C/stop%3E%3Cstop offset='1' stop-color='%231F9363'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3Cg%3E%3Ctitle%3Ebackground%3C/title%3E%3Crect x='-1' y='-1' width='2552' height='1202' id='canvas_background' fill='none'%3E%3C/rect%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 1%3C/title%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M 1008.987 786.425 C 840.217 627.122 794.405 395.711 871.552 197.262 L 1253 293.737 C 1207.449 367.185 1218.042 463.108 1284.781 526.103 C 1364.113 600.983 1492.736 600.983 1572.067 526.103 C 1612.013 488.398 1631.845 438.899 1631.564 389.482 L 2012.97 485.946 C 1992.905 595.99 1937.876 701.462 1847.865 786.425 C 1616.212 1005.078 1240.636 1005.078 1008.987 786.425 Z' fill='url(%23paint0_linear_42_581)' id='svg_1' style='' filter='url(%23filter0_40_580)'%3E%3C/path%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 2%3C/title%3E%3Crect x='0' y='0' fill-opacity='0.4' fill='%23F6F6F6' height='1200' width='2550' id='svg_2'%3E%3C/rect%3E%3C/g%3E%3Cg%3E%3Ctitle%3ELayer 3%3C/title%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='m628.204,847.272549l320.538,320.541c179.108,-160.742 263.498,-413.996 196.948,-662.366c-94.32,-352.028 -456.164,-560.938 -808.193,-466.6122c-128.619,34.4635 -238.1332,104.6382 -320.73248,196.9982l320.52848,320.528c27.169,-38.797 67.618,-68.615 116.948,-81.833c111.402,-29.85 225.909,36.261 255.759,147.662c23.343,87.12 -12,176.138 -81.796,225.082z' fill='white' id='svg_3' stroke='null'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center top;

    a {
        
        &:hover {
            text-decoration: underline;
        }
    }

    img.logo {
        width: 120px;
        margin-bottom: 1em;
    }

    .bold {
        font-weight: 700;
    }

    .footer__find_error {
        margin-bottom: 10em;
        color: #8d8d8d;

        &:before {
            content: "!";
            display: inline-block;
            margin-right: 1em;
            border: 1px solid #8d8d8d;
            border-radius: 2em;
            padding: 0.1em 0.55em;
        }
    }

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1.5fr;
        align-items: start;
        gap: 0.1em;
        margin: 5em 0 2.5em;

        .footer__contacts {

            p {
                margin-bottom: 0.5em;
            }

            .footer__contacts_head {
                font-size: 1.125em;
                font-weight: 600;
            }

            .footer__contacts_phone {
                font-size: 1.5em;
                font-weight: 600;
            }

            .footer__contacts_time {
                width: 15em;
                font-weight: 300;
                color: #8d8d8d;
            }
        }

        .footer__column {

            p {
                margin-bottom: 0.8em;
            }

            ul {
                li {
                    margin-bottom: 0.8em;
                }
            }
        }

        .footer__actions {
            .bold {
                margin-bottom: 0.625em;
            }

            .footer__actions_apps {
                margin-bottom: 2.125em;

                a:nth-child(1) {
                    img {
                        width: 136px;
                    }
                }
                a:nth-child(2) {
                    img {
                        width: 120px;
                    }
                }
            }

            .footer__actions_soc {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1.5fr;
                align-items: center;
                gap: 0.625em;
            }
        }
    }

    .footer__bottom {
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;

        .minzdrav {
            font-size: 0.8em;
            font-weight: 300;
            text-transform: uppercase;
            justify-self: right;

            &:before {
                content: "18+";
                margin-right: 1.5em;
                border: 1px solid $text_color;
                border-radius: 2em;
                padding: 0.35em 0.2em;
            }
        }
    }
}

@media (max-width: $tablet_width) {
    footer {

        .footer__find_error {

            &:before {
                width: 2em;
                height: 2em;
                line-height: 2em;
                padding: 0;
                text-align: center;
                float: left;
                display: inline;
                margin: 0.5em 1.5em 1em 0;
            }
        }

        .footer__container {
            grid-template-columns: repeat(2, 1fr);
            gap: 0.25em;

            .footer__contacts {
                grid-column: span 2;
                display: grid;
                //grid-template-columns: repeat(2, 1fr);

                .logo {
                    grid-column: span 1;
                    grid-row: span 1;
                    order: 1;
                    display: inline; 
                    justify-self: right;   
                }

                .footer__contacts_head {
                    grid-column: span 1;
                    grid-row: span 1;
                    order: 0;
                    display: inline;
                }

                .footer__contacts_time {
                    grid-column: span 2;
                    grid-row: span 1;
                    width: 100%;
                    margin-top: 1em;
                    order: 3;
                    display: inline;
                }
            }

            .footer__column {
                grid-column: span 1;
                grid-row: span 1;
                margin-top: 1.5em;
            }

            .footer__actions {
                grid-column: span 2;
                margin-top: 1.5em;
            }
        }

        .footer__bottom {
            grid-template-columns: 1fr;
            margin-bottom: 7em;
            
            .minzdrav {
                margin-top: 2em;

                &:before {
                    padding: 0.5em 0.2em;
                    float: left;
                    display: inline;
                    margin: 0 1.5em 1em 0;
                }
            }
        }
    }
}

@media (max-width: $mobile_width) {
    footer {
        .footer__container {
            .footer__actions {
                .footer__actions_soc {
                    font-size: 0.9em;
                }
            }
        }
    }
}