header {

    .header_top_panel {
        font-size: 0.875em;
        color: #8d8d8d;
        text-align: right;
        padding: 1.25em 0;

        a {
            text-decoration: none;
            color: #8d8d8d;

            &:hover {
                color: $text_color;
            }
        }

        .header_top_panel__city {
            display: inline-block;

            & > div {
                display: inline-block;
                margin-right: 2.85em;
            }

            &:after {
                content: "";
                height: 3px;
                width: 3px;
                border: 1px solid #8d8d8d;
                border-radius: 50%;
                display: inline-block;
            }
        }

        .header_top_panel__menu {
            display: inline-block;

            li {
                margin-left: 2.85em;
                display: inline-block;
            }
        }
    }

    .header_search_panel {
        display: grid;
        grid-template-columns: 1fr 5fr 3fr 2fr;
        align-items: center;
        gap: 1.5em;

        .header_search_panel__store {
            position: relative;
            border: 1px solid #333333;
            border-radius: 2em;
            height: 3.125em;
            line-height: 3.125em;
            cursor: pointer;

            &:hover {
                background-color: #ebebeb;
            }

            &.active {
                color: #fff;
                background-color: $text_color;

                .icon {
                    @include icon_navy_white;
                }
            }

            &.selected {
                border-radius: 2em;
                background: linear-gradient(#f6f6f6, #f6f6f6) padding-box,
                linear-gradient(to right, #1F9363, #364ABC) border-box;
                border: 1px solid transparent;

                .text {
                    background: -webkit-linear-gradient(126.91deg,  #1F9363, #364ABC);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .icon {
                    @include icon_navy_gradient;
                }
            }

            .text {
                padding-left: 1em;
                font-size: 1.125em;
            }

            .icon {
                position: absolute;
                right: 15px;
                top: 15px;
                border: none;
                width: 21px;
                height: 21px;
                @include icon_navy_grey;
                background-repeat: no-repeat;
            }
        }

        .header_search_panel__actions {
            text-align: right;

            .search {
                display: none;
            }
        }
    }
}

@media (max-width: 1130px) {
    header {
        .header_search_panel {
            grid-template-columns: 1fr 4fr 3fr 3fr;
            align-items: center;
            gap: 0.5em;
        }
    }
}

@media (max-width: $mobile_width) {
    header {
        .header_top_panel {
            display: none;
        }

        .header_search_panel {
            grid-template-columns: 1fr 2fr;
            margin-bottom: 1em;

            & > img {
                width: 90px;
            }

            .search__input {
                display: none;

                &.active {
                    display: block;
                    position: absolute;
                    top: 70px;
                    width: 93%;
                }
            }

            .header_search_panel__store {
                display: none;
            }

            .header_search_panel__actions {
    
                .search {
                    display: inline-block;
                }
            }
        }
    }
}
