.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-items: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    color: #f6f6f6;
}

.ymaps-2-1-79-balloon {
    box-shadow: none!important;
    border-radius: 1em!important;

    .button {
        padding: 0 1em;
        height: 2.5em;
        line-height: 2.5em;
    }

    .ymaps-2-1-79-balloon__layout {
        border-radius: 1em!important;
    }
    
    .ymaps-2-1-79-balloon__close {
        display: none!important;
    }
    
    .ymaps-2-1-79-balloon__content {
        font-family: "Nunito Sans", sans-serif!important;
        font-weight: 400!important;
        font-size: 16px!important;
        text-align: center;

        button {
            margin-top: 1.5em;
        }

        .ymaps-2-1-79-b-cluster-content {
            font-family: "Nunito Sans", sans-serif!important;
            font-weight: 400!important;
            font-size: 16px!important;
            text-align: center;

            button {
                margin-top: 1.5em;
            }    
        }

        &>ymaps{
            height: 6em!important;
        }
    }
}

.instock_stores {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    width: 80%;
    padding: 2em;

    &.forproduct {
        grid-template-columns: 1fr;
        width: 100%;
        padding: 0;

        & > div {
            background-color: transparent!important;

            &.instock_stores__cities {
                display: none;

                .select_city_attention {
                    display: none;
                }

                .instock_attention {
                    display: block;
                }

                .select_city_title {
                    display: none;
                }

                .instock_title {
                    display: block;
                }

                #select_store {
                    display: none;
                }

                button {
                    background-color: #ebebeb;
                    border: none;
                    margin-top: 6em;

                    .text {
                        color: $text_color;
                    }
                }
            }

            &.instock_stores__stores {
    
                .instock_stores__stores_list {
    
                    ul {
                        li {
                            color: $text_color;

                            &.active {
                                color: $text_color;
                            }

                            span {
                                color: #1F9363;
                                margin-right: 1em;
                    
                                &:before {
                                    content: "|||";
                                    display: inline-block;
                                    margin-right: 0.5em;
                                    top: -1px;
                                    position: relative;
                                }

                                &.lot {
                                    color: #1F9363;
                                }                    

                                &.little {
                                    color: #D2AF6C;
                                }
                    
                                &.few {
                                    color: #D2626B;
                                }
                            }
                        }
                    }

                    .instock_stores__stores_list_filters {
                        grid-template-columns: 3fr 1fr 1fr;

                        .open_map {
                            height: 2.5em;
                            line-height: 2.5em;
                            border: 1px solid #cdcdcd;
                            border-radius: 2em;
                            position: relative;
                            text-align: center;
                            font-size: 1.25em;
                            font-weight: 600;
                            border-radius: 2em;
                            cursor: pointer;
                            background: linear-gradient(#f6f6f6,#f6f6f6) padding-box,linear-gradient(to right,#1f9363,#364abc) border-box;
                            border: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }

    &.product_instock {
        grid-template-columns: 1fr;

        & > div {
            background-color: #fff;
            color: $text_color;

            &.instock_stores__cities {
                display: none;

                .select_city_attention {
                    display: none;
                }

                .instock_attention {
                    display: block;
                }

                .select_city_title {
                    display: none;
                }

                .instock_title {
                    display: block;
                }

                #select_store {
                    display: none;
                }

                button {
                    background-color: #ebebeb;
                    border: none;
                    margin-top: 6em;

                    .text {
                        color: $text_color;
                    }
                }
            }

            &.instock_stores__stores {
                .instock_stores__stores_list {
                    ul {
                        li {
                            color: $text_color;

                            &.active {
                                color: $text_color;
                            }

                            span {
                                color: #1F9363;
                                margin-right: 1em;
                    
                                &:before {
                                    content: "|||";
                                    display: inline-block;
                                    margin-right: 0.5em;
                                    top: -1px;
                                    position: relative;
                                }

                                &.lot {
                                    color: #1F9363;
                                }                    

                                &.little {
                                    color: #D2AF6C;
                                }
                    
                                &.few {
                                    color: #D2626B;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    & > div {
        background-color: $text_color;
        border-radius: 1em;
        padding: 2em;

        &.instock_stores__cities {

            h3 {
                font-size: 1.25em;
                font-weight: 600;
                padding: 0;
                margin: 0;
                
                &:after {
                    content: "";
                    display: inline-block;
                    position: relative;
                    height: 26px;
                    width: 21px;
                    background-repeat: no-repeat;
                    top: 6px;
                    right: -20px;
                    @include icon_navy_gradient_empty;
                }
            }

            .select_city_attention {
                display: block;
                margin: 2em 0;
            }

            .instock_attention {
                display: none;
                margin: 2em 0;
            }

            .select_city_title {
                display: block;
            }

            .instock_title {
                display: none;
            }

            ul {
                overflow: auto;
                height: 18em;
                margin-top: 2em;

                li {
                    font-size: 1em;
                    color: #8d8d8d;
                    cursor: pointer;
                    margin-bottom: 0.45em;
                }

                &::-webkit-scrollbar {
                    width: 6px;
                }

                &::-webkit-scrollbar-track {
                    background: linear-gradient(
                    to left,
                    rgba(141, 141, 141, 0) 0%,
                    rgba(141, 141, 141, 0) 30%,
                    rgba(141, 141, 141, 1) 50%,
                    rgba(141, 141, 141, 0) 70%,
                    rgba(141, 141, 141, 0) 100%
                    );
                }

                &::-webkit-scrollbar-thumb {
                    background-color: #8d8d8d;
                    border-radius: 5px;
                }
            }

            .button {
                width: 100%;
                background-color: #262626;
                margin-top: 1em;

                &.selected {
                    background: linear-gradient(#333,#333) padding-box,linear-gradient(to right,#1f9363,#364abc) border-box;

                    .text {
                        color: #fff;
                        -webkit-text-fill-color: #fff;
                        background: none;
                    }
                }

                .text {
                    font-size: 1.25em;
                    color: #fff;
                }
            }
        }

        &.instock_stores__stores {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;

            .instock_stores__stores_list {

                .search__input input {
                    color: #cdcdcd;
                }

                .instock_stores__stores_list_filters {
                    display: grid;
                    grid-template-columns: 4fr 1fr;
                    gap: 0.5em;
                }

                ul {
                    overflow: auto;
                    height: 31em;
                    margin-top: 2em;

                    li {
                        position: relative;
                        font-weight: 300;
                        font-size: 1.125em;
                        cursor: pointer;
                        margin-bottom: .75em;
                        color: #cdcdcd;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 22px;
                            height: 22px;
                            border: 1px solid #cdcdcd;
                            border-radius: 22px;
                            right: 30px;

                            &:after {
                                content: "v";
                            }
                        }

                        &.active {
                            color: #f6f6f6;

                            &:after {
                                border: none;
                                width: 23px;
                                height: 23px;
                                right: 30px;
                                @include main_gradient;
                            }
                        }
                    }

                    &::-webkit-scrollbar {
                        width: 6px;
                    }

                    &::-webkit-scrollbar-track {
                        background: linear-gradient(
                        to left,
                        rgba(141, 141, 141, 0) 0%,
                        rgba(141, 141, 141, 0) 30%,
                        rgba(141, 141, 141, 1) 50%,
                        rgba(141, 141, 141, 0) 70%,
                        rgba(141, 141, 141, 0) 100%
                        );
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: #8d8d8d;
                        border-radius: 5px;
                    }
                }
            }

            #map {
                width: 100%;
                height: 100%;
                border-radius: 1em;
                overflow: hidden;
            }

            #map_product {
                display: none;
                width: 100%;
                height: 700px;
                border-radius: 1em;
                overflow: hidden;

                &.open {
                    display: block;
                }
            }
        }
    }
}

@media (max-width: $wrapper_width) {
    .instock_stores {
        width: 100%;
    }
}

@media (max-width: $tablet_width) {
    .instock_stores {
    
        &.forproduct {
    
            & > div {
                padding: 0em; 
    
                &.instock_stores__stores {
                    grid-template-columns: 1fr;

                    .instock_stores__stores_list {

                        .instock_stores__stores_list_filters {
                            grid-template-columns: 3fr 1fr;

                            .open_map {
                                grid-column: span 2;
                            }
                        }

                        ul {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}
