.offers {
    width: 100%;
    overflow: hidden;
    height: 45em;
    position: relative;

    .offers_header {
        display: grid;
        grid-template-columns: 6fr 1fr 2fr;
        gap: 0.1em;
        align-items: center;
        margin-top: 2em;

        h3 {
            font-size: 2.25em;
            font-weight: 800;
        }

        & > a {
            font-weight: 700;
            position: relative;

            &:after {
                content: "";
                height: 0.75em;
                width: 1.5em;
                top: 4px;
                left: 5.5em;
                position: absolute;
                background-repeat: no-repeat;
                @include icon_arrow_gradient_small;    
            }
        }
    }

    .offers_list {
        position: absolute;

        li {
            display: inline-block;
            vertical-align: top;
        }
    }
}

@media (max-width: $tablet_width) {
    .offers {
        .offers_header {
            grid-template-columns: 6fr 2fr;
        }
    }
}
